<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="products">
            <tab>hardwoods</tab>
            <resource>Hardwoods_ShippingInfo::shipping_info</resource>
            <group id="shipping_estimate" sortOrder="10" 
                showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
                <label>Shipping Estimate</label>
                <field id="debug" translate="label" type="select" sortOrder="10"
                       showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Debug</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>

            <group id="shipping_information" sortOrder="20" 
                showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
                <label>Shipping information</label>
                <field id="show_on_product_detail_page" translate="label" type="select" sortOrder="10"
                       showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Show on product detail page</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="show_on_checkout_page" translate="label" type="select" sortOrder="20"
                       showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Show on checkout page</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
